/* ==========================================================================
   Global settings
   ========================================================================== */

/*
 * Measures ======================================================
 */
$page-max-width: 920px;
$page-min-width: 860px;
$page-padding: 10px;
$page-margin: 34px;

$font-size: 13px;
$slide-time: .5s;

/*
 * Colors ======================================================
 */

// $text-color: #868079;
$text-color: #8e8880;


// $dark-brown: #68635D;
$dark-brown: #726d66;
$light-brown: #E0DCD6;
$light: #FBFAF8;


$dark-green: #0E4C30;
// $dark-green: darkgreen;


$dark: #333;
$dark-gray: #666;
$gray: #999;
$light-gray: #bbb;


/*
 * Compass ======================================================
 */
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$legacy-support-for-mozilla: false;
$global-layout: vertical;
$global-spacing: 2px;

