
.site-area {
  &.anima {
    @include transition(top $slide-time ease-in-out);
  }
}

.content-area {
  overflow: hidden;

  &.anima {
    @include transition(left $slide-time ease-in-out);
  }
}

.area-logo,
.area-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  margin: 0;
}

.area-logo {
  z-index: 2;
}
.area-bg {

}