
// content config =======================================
$title-color: $dark-green;
// $text-color: #868079;


// content =============================================
.site-content,
.main-header,
.main-content,
.main-footer {
  @extend .clearfix;
}

.site-content {
  .content-width {
    margin-top: 34px;
    margin-bottom: 40px;
  }
}

.site-main {
  // margin: $page-margin 0;

  .page { }

  p {
    margin: 8px 0 15px;
    line-height: 20px;
  }

  a {
    color: $title-color;
    text-decoration: underline;
  }
}

.main-title {
  margin: 0;
  font-size: 18px;
  color: $title-color;
}

.title {
  color: $title-color;
}




// home sidebar =====================================
.sidebar {
  height: 630px;
  // background: #EEE;
  // border: 1px solid #EEE;
}


// SCHEDULE ==========================
.tax-schedule {
  width: 100%;
  // height: 220px;
  background: #E6ECE8;
  margin-bottom: 40px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.tax-title {
  margin: 0;
  padding: 12px 8px;
  background: $dark-green;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: .5px;
  text-transform: capitalize;
}

.tax-text {
  padding: 20px 30px 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  display: block;
  text-align: center;
}




// PRICES ====================
.prices {
  color: $dark-gray;
}

.prices-header {
  text-align: right;

  a {
    display: inline-block;
    padding: 8px 7px;
    color: $dark-green;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.prices-content {
  
  .title {
    text-align: right;
    font-size: 16px;
    margin: 0 0 6px;
    padding: 0 10px;
  }

  table {
    margin-bottom: 4px;
    font-size: 12px;
  }

  thead {
    background: #EEE;
    border: 1px solid #CCC;

    td,
    th {
      border: none;
    }
  }

  td,
  th {
    text-align: center;
    border: 1px solid #CCC;
    padding: 6px 2px;
  }


}


.indication {
  margin-bottom: 30px;

  [colspan="5"] {
    display: none;
  }

  a,
  td {
    text-decoration: none;
    color: $dark-gray !important;
    font-size: 11px !important;
  }

  // HEADER
  tr:nth-child(1) {
    border: 1px solid #CCC;

    td {
      background: #EEE !important;
      border: none;
    }
  }
  
  // COLUNAS

  tr {

    // td:nth-child(1) {
    //   font-weight: 600;
    // }

    td:nth-child(2),
    td:nth-child(3) {
      display: none;
    }
  }

}

.quotation {
  .up {
    color: green;
  }
  .down {
    color: red;
  }

  .quotation-update {
    margin: 0;
    font-size: 11px;
    font-weight: 600;
    text-align: right;
  }
}





// home  tools =====================================
.useful-tools {
  margin-left: -15px;
}

.tool-list {
  padding: 0;
  margin: 25px 0;
  list-style: none;
  @extend .clearfix;
}

.tool-item {
  position: relative;

  display: block;
  text-decoration: none;


  div {
    // @include transition(box-shadow .3s, top .3s);

    &:hover {
      // @include box-shadow(0px 4px 14px rgba(#000, .4)); 

      .tool-title{
        background: #063d24;
      }

      .tool-content{
        background: #d2dcd7;
      }
      .tool-text{
        display: block;
        text-transform: uppercase;
      }

      .icon-formulario{background: none;}
      .icon-guias{background: none;}
      .icon-certidoes{background: none;}
      .icon-consultas{background: none;}
      .icon-tabelas{background: none;}
      .icon-indices{background: none;}
    }
  }

}

.utilitie-form{
  .tool-item{
    padding: 30px 50px;
  }
}

.tool-title{
  display: block;
  padding: 5px;
  color: #FFF;
  text-align: center;
  background: #a39e98;
}

.tool-content{
  position: relative;
  display: block;
  height: 110px;
  background: #ece8e5;
}

.icon-tool {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 58px;
  height: 68px;
  margin-top: -34px;
  margin-left: -29px;
}


.icon-formulario {background: url(../image/icone-formulario.png) no-repeat;}
.icon-guias {background: url(../image/icone-gerarguias.png) no-repeat;}
.icon-certidoes {background: url(../image/icone-certidoes.png) no-repeat;}
.icon-consultas {background: url(../image/icone-consultas.png) no-repeat;}
.icon-tabelas {background: url(../image/icone-tabela.png) no-repeat;}
.icon-indices {background: url(../image/icone-indices.png) no-repeat;}

.tool-text {
  position: absolute;
  top: 8px;
  width: 90%;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  display: none;

  ul {
    padding-left: 30px;
    list-style: disc;
    color: $dark-green;

    li {
      margin: 4px 0;
    }
  }

  a {
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}


// CONTACT ======================================================

.spacer {
  margin-bottom: 30px;
}

.contact-main {}

.text-content{
  float: left;
  width: 300px;
}

span.contact-text {
  display: inline-block;
  width: 239px;
}

.contact-content {
  margin-bottom: 40px;
}

.contact-icon {
  display: inline-block;
  width: 50px;
  height: 60px;
  vertical-align: top;
}

.contact-tel {
  margin-top: 6px;
}

.contact-email{
  margin-top: 14px;
}

.contact-end {
  margin-top: 4px;
}

.contact-icon-tel {
  background: url(../image/icone-telefone-contato.png) no-repeat;
}

.contact-icon-email {
  background: url(../image/icone-arroba-contato.png) no-repeat;
}

.contact-icon-local {
  width: 40px;
  background: url(../image/icone-local-contato.png) no-repeat;
}


.form-response {
  padding: 14px 20px;
  width: 560px;
  margin: 0 auto;
  font-size: 13px;
  margin-bottom: 10px;
  &.success {
    color: darkgreen;
    background: #C4E5C4;
    border: 1px solid green;
  }
  &.error {
    color: darkred;
    background: #FCDEDE;
    border: 1px solid #C00;
  }
}



//FORM
.form-content {
  float: right;

  .form-contact,
  .form-work {
    border: 1px solid #EEE;
    width: 560px;
    padding: 30px 70px 20px;
    margin-bottom: 10px;
  }

  .field-line {
    margin-bottom: 10px;

    &.right {
      text-align: right;
    }
  }

  .label {
    width: 82px;
    display: inline-block;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
    margin-top: 6px;
  }

  .input[type=text],
  .input[type=file],
  .input, .textarea {
    width: 320px;
    padding: 2px 6px;
    font-size: 13px;
    line-height: 22px;
    background: #F9F9F9;
    border: 1px solid #DDD;
    // border: none;
    // @include border-radius(4px);
    @include transition(all .3s ease-out);

    &:focus {
      background: #FFF;
      @include box-shadow(0px 2px 8px -2px rgba(#000, .2));
    }
  }

  .input.error {
    background: #FDF0F0;
    border: 1px solid #DFA8A8;
  }
  

  .reset[type=reset],
  .submit[type=submit] {
    padding: 6px 12px;
    margin-right: 12px;
  }

  .reset[type=reset] {
    background: #FFF;
    border: none;
    border: 1px solid #DDD;
  }

  .submit[type=submit] {
    background: #063d24;
    color: #fff;
    text-transform: uppercase;
    border: none;
  }

  .field-half {
    width: 320px;
    display: inline-block;
  }

  .field-half .input[name*=ddd] {
    width: 32px;
    margin-right: 4px;
    text-align: center;
  }

  .field-half .input[name*=number] {
    width: 90px;
    text-align: center;
  }

  .field-half .label {
    width: 42px;
    margin-left: 11px;
  }

  input, textarea, select {
    // background: #ebeae8;
    // background: #f9f9f9;
    // color: #707070;
    color: rgba(51,51,51,.7);
    outline: none;
  }

  .form-info {
    font-size: 12px;
    color: #8b8b8b;
    text-align: center;

    &.error {
      color: red;
    }
  }
}

.content-strong{
  font-size: 18px;
  color: #68635d;
}

.subtitle-service{
  color: #063d24;
}



//utilities ========================================

.utilities, 
.service{
  p{
    padding-left: 10px;
  }
}




// ================================================================================
// AGENDA TRIBULÁRIA ==============================================================
.schedule-frame {
  width: 100%;
  height: 600px;
}













// ================================================================================
//  ==============================================================


