
// header config =======================================
$height: 120px;
$color: #FBFAF8;
$link-color: #999690;



.site-footer {
  background: $dark-green;
  border-bottom: 6px solid #885319;

  .content-width {
    padding: 30px 0;
    display: table;
  }
}

.footer-list {
  display: table-row;
}

.footer-item {
  display: table-cell;
  color: #FFF;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
}

.footer-icon {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}

.footer-text{
  display: table-cell;
  margin-top: 12px;
  vertical-align: middle;
}

.footer-local {
  width: 340px;

  .footer-icon{
    width: 60px;
    background: url(../image/icone-local.png) no-repeat center;
  }
}

.footer-tel {
  width: 240px;

  .footer-icon {
    width: 80px;
    background: url(../image/icone-telefone.png) no-repeat center;
  }

}

.footer-email {
  .footer-icon {
    width: 80px;
    background: url(../image/icone-email.png) no-repeat center;
  }

}
