
// header config =======================================
$height: 110px;
$header-bg: #FBF9F7;

$banner-height: 340px;
// menu config =========================================
$menu-height: 65px;
$submenu-height: 50px;

// $color: $light-brown;

// =====================================================
// header ==============================================
.site-header {
  width: 100%;
  color: #666;
  background: $header-bg;
  height: $height;
  @extend .clearfix;

  a {
    color: $text-color;
    text-decoration: none;
  }

  .content-width {
    height: inherit;
    // background: #EEE;
  }
}

// ====================================================
// brand ==============================================
.site-brand {
  float: left;
  text-align: center;
  background: #FFF;
}

.site-title {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  line-height: $height;

  a {
    display: inline-block;
    width: 260px;
    height: inherit;
    text-indent: -9999px;
    background: url(../image/logo_maziero.jpg) no-repeat center;

  }
}

.header-toggle {}


// ===================================================
// menu ==============================================

.site-menu {
  position: relative;
  margin-left: 290px;
  height: inherit;
  z-index: 5;
  // @include transition(background-color $slide-time);
}

.page_list,
.menu-list {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  height: $menu-height;
}


.page_item,
.menu-item {
  float: left;
  margin-right: 2px;

  &:last-child {
    margin-right: 0px;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 28px 18px 19px;
    background: $header-bg;
    @include transition(color .2s ease-out, background .2s ease-out);
    
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      background: $header-bg;
      @include transition(background .2s ease-out);
    }

    &:hover,
    &.active {
      @extend .menu-link-active;
    }
  }

  &.current-menu-item {
    a {
      font-weight: bold;
      @extend .menu-link-active;
    }
  }

  &:hover,
  &.active {
    @extend .menu-link-active;

    > .sub-menu {
      // display: block;
      display: table-row;
      opacity: 1;
      height: 44px;
    }
  }
}

.menu-link-active {
  color: $dark-brown;
  background: $light-brown;
  // border-bottom-color: $dark-brown;

  &:after {
    background: $dark-brown;
  }
}


// submenu ==============================================
.sub-menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: $menu-height;
  left: -30px;
  height: $submenu-height;
  background: $dark-brown;
  

  .menu-item {
    position: relative;
    display: table-cell;
    margin: 0;

    a {
      padding: 18px 16px 16px;
      // height: $submenu-height;
      color: #F5F1EC;
      font-weight: normal;
      color: $light-brown;
      background: $dark-brown;

      &:after {
        // content: "";
        height: 0;
      }
  
      &:hover {
        color: #FFF;
        background: adjust-lightness($dark-brown, -10);
      }
    }
  }

  .sub-menu {
    top: auto;
    left: 0px;
    width: auto;
  }
}



.sub-menu {
  .menu-item-has-children {
    .menu-item {
      float: none;
      display: block;
      width: 190px;

      a {
        display: block;
        padding: 14px 16px 12px;
        // border-top: 1px solid rgba(#000, .1);
      }
    }
  }
}

.right {
  .sub-menu {
    left: auto;
    right: 0;
  }
}

.nolink {
  > a {
    cursor: default;
  }
}


/*
.sub-menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: $menu-height;
  left: -30px;
  // width: 120%;

  height: $submenu-height;
  background: $dark-brown;

  .menu-item {
    display: table-cell;
    margin: 0;

    a {
      padding: 18px 16px;
      // border-bottom: none;
      height: $submenu-height;
      color: #F5F1EC;
      font-weight: normal;
      color: $light-brown;
      background: $dark-brown;

      &:after {
        // content: "";
        height: 0;
      }
  
      &:hover {
        // @extend .menu-link-active;
        color: #FFF;
        background: adjust-lightness($dark-brown, -10);
      }
    }
  }
}

*/

// =====================================================
// banner ==============================================
.site-banner {
  background: #BDB9B5; //#91AFAF;
  height: $banner-height;
  overflow: hidden;
}
.banner-content {
  text-align: center;

}



// CAROUSEL ============================

.owl-item,
.banner-area {
  position: relative;
  height: $banner-height;

  img {
    position: absolute;
    left: 50%;
    margin-left: -632px;
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -52px;
  display: block;
  color: #FFF;
  font-size: 96px;
  @include opacity(.4);
  @include border-radius(50%);
  @include text-shadow(0px 2px 20px rgba(#000, .4));
  @include transition(opacity $slide-time ease-out);
  
  // background: red;
  width: 104px;
  height: 104px;
  line-height: 94px;

  &:before,
  &:after {
    width: .5em;
  }

  &:hover {
    @include opacity(.8);
  }
}

.owl-prev {
  left: 40px;
  text-indent: -4px;
}

.owl-next {
  right: 40px;
  text-indent: 4px;
}


// PLUGIN CONFIGS =============================

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
  float: left;
  overflow: hidden;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
  cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
