
// html elements ===============================================
body {
  margin: 0;
  font-family: "Open Sans";
  font-size: $font-size;
  color: $text-color;
}

h1 {font-size: 20px; }
h2 {font-size: 18px; }
h3 {font-size: 17px; }
h4 {font-size: 16px; }
h5 {font-size: 15px; }
h6 {font-size: 14px; }

hr {
  border: none;
  border-top: 1px solid #E0DBD2;
  margin: 20px 0;
}

// globals ===============================================
#wpadminbar,
.screen-reader-text {
  display: none;
}

.content-width {
  width: 100%;
  max-width: $page-max-width;
  min-width: $page-min-width;
  margin: 0 auto;
  // padding-left: $page-padding;
  // padding-right: $page-padding;
  @extend .clearfix;
}




// helper ===============================================
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hide {
  display: none;
}

.hidden {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}

// align
.aligncenter {
  margin: 0 auto;
  display: block;
}



// columns =====================================
[class*="col-"] {
  float: left;
  // padding: 0 $page-padding;
  padding: 0 15px;
}

.col-full {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}


.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}


.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
}



